Previous version used specific input with unnecessary parameters.

In [1]:
%autoreload 2
import os,sys
from pathlib import Path
sys.path.append(str(Path(os.getcwd())))
sys.path.append(str(Path(os.getcwd())/'data'))

In [2]:
import pandas as pd
import tracking

In [3]:
import samsung
samsung.samsung_data.head()

,personId,agentId,centroids,reid,startTime,endTime,gender,color,duration
0,da122825-9a60-45a1-aaf0-90d8e8da8ab1,11,"[[0.183, 0.629, 1682315218.0], [0.183, 0.636, ...","[0.3967658281326294, 0.03422684222459793, -0.3...",2023-04-24 05:46:58+00:00,2023-04-24 05:47:03+00:00,M,"[[#262329, 5541], [#f8f8f8, 3534]]",5
1,307a2114-38fc-4a76-9247-d9cf5b8cd459,11,"[[0.381, 0.531, 1682316414.0], [0.391, 0.536, ...","[0.1996729075908661, -0.28791889548301697, -0....",2023-04-24 06:06:54+00:00,2023-04-24 06:07:05+00:00,M,"[[#faf9f9, 2758], [#29262c, 6317]]",11
2,1c305617-86f4-4b10-aa6c-0df8a809b058,11,"[[0.952, 0.665, 1682315077.0], [0.914, 0.672, ...","[-0.13868625462055206, 0.31281670928001404, -0...",2023-04-24 05:44:37+00:00,2023-04-24 05:44:42+00:00,F,"[[#503936, 6146], [#f9f1ee, 2929]]",5
3,357d1886-89d9-477b-b6f6-abb7bcbebe21,11,"[[0.28, 0.985, 1682316015.0], [0.562, 0.957, 1...","[-0.029412630945444107, 0.5562960505485535, 0....",2023-04-24 06:00:15+00:00,2023-04-24 06:00:21+00:00,M,"[[#332f31, 7571], [#f9f8f8, 1504]]",6
4,81930ae9-5fbd-44d3-ad01-fb4704424137,11,"[[0.331, 0.988, 1682315483.0], [0.353, 0.928, ...","[-0.1322261095046997, 0.11921624094247818, -0....",2023-04-24 05:51:23+00:00,2023-04-24 05:53:53+00:00,M,"[[#2a2a32, 8364], [#eeeced, 711]]",150

In [4]:
test_data = [
            {"windows": "", "image_id": "image_id", "location": "mac", "camera_id": "camera-1\r", "date_created": 1533227583.0, "id": 1140, "no_faces": 0}
        ,   {"windows": "", "image_id": "image_id", "location": "mac", "camera_id": "camera-1\r", "date_created": 1533227584.0, "id": 1141, "no_faces": 0}
        ,   {"windows": "", "image_id": "image_id", "location": "mac", "camera_id": "camera-1\r", "date_created": 1533227585.0, "id": 1142, "no_faces": 0}
        ,   {"windows": "", "image_id": "image_id", "location": "mac", "camera_id": "camera-1\r", "date_created": 1533227587.0, "id": 1143, "no_faces": 0}
        ,   {"windows": "", "image_id": "image_id", "location": "mac", "camera_id": "camera-1\r", "date_created": 1533227588.0, "id": 1144, "no_faces": 0}
        ,   {"windows": "", "image_id": "image_id", "location": "mac", "camera_id": "camera-1\r", "date_created": 1533227590.0, "id": 1145, "no_faces": 0}
        ,   {"windows": "", "image_id": "image_id", "location": "mac", "camera_id": "camera-1\r", "date_created": 1533227591.0, "id": 1146, "no_faces": 0}
        ,   {"windows": "348,241,669,562", "image_id": "image_id", "location": "mac", "camera_id": "camera-1\r", "date_created": 1533227749.0, "id": 1298, "no_faces": 1}
        ,   {"windows": "348,241,669,562", "image_id": "image_id", "location": "mac", "camera_id": "camera-1\r", "date_created": 1533227750.0, "id": 1299, "no_faces": 1}
        ,   {"windows": "348,241,669,562", "image_id": "image_id", "location": "mac", "camera_id": "camera-1\r", "date_created": 1533227753.0, "id": 1300, "no_faces": 1}
        ,   {"windows": "312,241,633,562", "image_id": "image_id", "location": "mac", "camera_id": "camera-1\r", "date_created": 1533227755.0, "id": 1301, "no_faces": 1}
        ,   {"windows": "974,290,1359,675", "image_id": "image_id", "location": "mac", "camera_id": "camera-1\r", "date_created": 1533227757.0, "id": 1302, "no_faces": 1}
            ]

In [5]:
pd.DataFrame.from_records(test_data)

,windows,image_id,location,camera_id,date_created,id,no_faces
0,,image_id,mac,camera-1\r,1.533228e+09,1140,0
1,,image_id,mac,camera-1\r,1.533228e+09,1141,0
2,,image_id,mac,camera-1\r,1.533228e+09,1142,0
3,,image_id,mac,camera-1\r,1.533228e+09,1143,0
4,,image_id,mac,camera-1\r,1.533228e+09,1144,0
5,,image_id,mac,camera-1\r,1.533228e+09,1145,0
6,,image_id,mac,camera-1\r,1.533228e+09,1146,0
7,"348,241,669,562",image_id,mac,camera-1\r,1.533228e+09,1298,1
8,"348,241,669,562",image_id,mac,camera-1\r,1.533228e+09,1299,1
9,"348,241,669,562",image_id,mac,camera-1\r,1.533228e+09,1300,1
10,"312,241,633,562",image_id,mac,camera-1\r,1.533228e+09,1301,1
11,"974,290,1359,675",image_id,mac,camera-1\r,1.533228e+09,1302,1

In [6]:
tracking.track_objects(test_data)

[id: 0 - coords: 348,241,669,562
   lived 4 secs (1533227749.0 to 1533227753.0)
   tracks: [2018-08-02T16:35:49 (348,241,669,562), 2018-08-02T16:35:50 (348,241,669,562), 2018-08-02T16:35:53 (348,241,669,562)]]

In [7]:
history = tracking.track_objects(test_data)

In [8]:
def centroid(coords):
    y1,x1,y2,x2 = coords
    return (y1+(y2-y1)/2 , x1+(x2-x1)/2)

In [9]:
start,mid,end = [centroid(x.coords) for x in history[0].tracks]

In [10]:
t0,t1,t2 = [x.timestamp for x in history[0].tracks]

In [11]:
start,mid,end

((508.5, 401.5), (508.5, 401.5), (508.5, 401.5))

In [12]:
(end[0]-start[0])**2

0.0